.App {
  background: linear-gradient(to bottom, #f2c5e0, #f5cee5, #f7d6ea, #fadfef, #fce7f4, #fce7f4, #fce7f4, #fce7f4, #fadfef, #f7d6ea, #f5cee5, #f2c5e0);
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.p-8 {
  padding: 2rem;
}

.gap-8 {
  gap: 2rem;
}

.grid {
  display: grid;
}

.gap-4 {
  gap: 1rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.md\:grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}

#Display {
  margin: 4rem 0rem;
  justify-content: space-evenly;
  width: 100%;
}

#MainContent {
  justify-content: space-between; 
}

#Custom-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 4rem 0rem;
  position: sticky;
  top: 5rem; 
}

.quantityChange {
  border: 2px solid #d2d2d2; 
}

.cartCard {
  margin: 0rem 0rem 1rem 0rem ; 
}

#Cart {
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem;
  position: sticky;
  top: 5rem; 
  padding: 0 1rem 0 0; 
}

#cartCont {
  width: 30%; 
}

#filler {
  width: 100%
}

.shoeCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
}

.shoeCard:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.shoeCard img {
  width: 100%;
}

.formLabel {
  margin: 1rem 0 0 0; 
}